---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Cursor from '../components/Cursor.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
---

<Layout>
  <Cursor />
  <Nav />
  <main>
    <Hero />
    <About />
    <Experience />
    <Projects />
    <Skills />
    <Contact />
  </main>
</Layout>
